button{ 
      cursor: pointer;
      width: 150px; 
      height: 35px; 
      background-color: rgb(60, 58, 72);
      color: #ffffff; 
      border-radius:5px;  
      font-family: fantasy; 
      font-weight: bolder; 
      font-size: 25px;
      transition:transform 200ms ;
      border-style: none;
      justify-content: center;
      margin-left:450px;
      
    }

    button:hover{ 
      cursor: pointer;
      width: 150px; 
      height: 35px; 
      background-color: rgb(103, 100, 123); 
      border-radius: 5px; 
      font-family: fantasy; 
      font-size: 25px;
      color: #ffffff;
    transform: scale(1.1);
    border-style: none;
    margin-left:450px;
    }