/* Font & base */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  line-height: 1.6;
  background: url('../cucinitaliana.jpg') no-repeat center center fixed;
  background-size: cover;
  border-radius: 5px;
}

/* Header */
.it-header {
  background-color: #7b2e2e;
  padding: 1rem 0;
  text-align: center;
}

.it-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.it-header nav ul li {
  display: inline-block;
  margin: 0 1rem;
}

.it-header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.it-header nav ul li a:hover {
  color: #ffd700;
}

/* Titre principal */
.it-titre-page {
  text-align: center;
  color: #7b2e2e;
  margin-top: 2rem;
  font-size: 2.2rem;
  font-family: 'Georgia', serif;
  background-color: #eee;
}

/* Image du plat */
.it-image {
  display: block;
  width: 500px;
  height: auto;
  margin: 1rem auto;
  border-radius: 10px;
  background-color: #eee;
  padding: 30px;
}

/* Texte principal */
.it-parm {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1.5rem;
  text-align: justify;
  font-size: 1.1rem;
  background-color: #fff;
  border-left: 6px solid #d6b161;
  padding-left: 1rem;
}

/* Titres de section */

h2.it-prn {

  font-size: 1.8rem;
  margin-top: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  background-color: #eee;
  width: 250px;
  color: #7b2e2e;


}

/* Liste des ingrédients */
.it-ingredients {
  
  max-width: 600px;
  margin: 1rem auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 0.5rem;
}

.it-ingredients li {
  background-color: #f3e0d2;
  padding: 0.75rem;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

/* Préparation */
p {
  max-width: 800px;
  margin: 1rem auto;
  padding: 0 1.5rem;
  font-size: 1.05rem;
  text-align: justify;
  align-items: center;

}

/* Footer */
.footer {
  background-color: #7b2e2e;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 0.9rem;
  color: #fff;
  margin-top: 3rem;
}
