/* Premier Page */


.titre-page {
    font-size: 3em;
    color: #333;
    background-color:#7f8c8d ;
}
.body {
    font-family: Arial, sans-serif;
    margin: none;
    padding: 20px;
}
.titre-page {
    text-align: center;
    margin-bottom: 20px;
}
.titre-page h1 {
    font-size: 2.5em;
    color: #2c3e50;
}
.titre-page p {
    font-size: 1.2em;
    color: #7f8c8d;
}   
div {
    margin: 20px 0;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 5px;
}
.menupage h2 {
    font-size: 1.2em;
    color: #020b0b;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menupage h3 {
    font-size: 1.1em;
    color: #2c3e50;
    text-align: center;
}

.menu .plats {
    text-decoration: none;
    padding: 0;
    margin: 0;
    flex: auto;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
}   
    .footer {
        text-align: center;
        margin-top: 20px;
        font-size: 0.8em;
        color: #7f8c8d;
        background-color: #ecf0f1;
        padding: 10px;
    }

    a {
        color: #3498db;
        text-decoration: none;
    }