body {
        background-image: url(waterfall-9684883_640.jpg);
        background-size: cover;
        background-position: initial;
        background-attachment: fixed;
        color: white;
      }

main{
        background-color: burlywood;
        border-radius: 4%;

}
.photo1{
        transition: transform 0.2s; box-shadow: 0.3s;
        width: 220px;
        height:auto;  
        border-radius: 60%           
}
p::first-letter{
        font-size: 200%;
        font-weight: bold;
        
}
.animated button{
        color: chocolate;
        border-radius: 50%;
        border-style: dashed;
}
